* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(8.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 

  
    
}
h1 {

text-shadow:  2px 2px 2px rgb(255, 0, 0);
}

 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white

 }
  img {
    width: 39px;
    height: 39px;
   
   
  }

  .profile img {

    width: 80px;
    height: 80px;
    border-radius: 100px;
  }
   .footer{

    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    right: 0%;
    gap: 15px;
   }
  